venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
data/raw/
*.pt
*.mp4
*.xml
*.ipynb_checkpoints/
.DS_Store
*.tif

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock